{% extends "base.html" %}

{% block analytics %}
  {{ super() }}
  <!-- 百度统计 -->
  {% if config.extra.baidu_analytics %}
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?{{ config.extra.baidu_analytics }}";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  {% endif %}

  <!-- Google Analytics 4 -->
  {% if config.extra.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ config.extra.google_analytics }}');
  </script>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- 顶部广告位 -->
  {% if config.extra.ads_enabled %}
  <div class="md-content__ads md-content__ads--top">
    {% include "partials/ads.html" %}
  </div>
  {% endif %}

  {{ super() }}

  <!-- 文章底部评论系统 -->
  {% if config.extra.comments_enabled and page.meta.comments != False %}
  <div class="md-content__comments">
    {% include "partials/comments.html" %}
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- 广告加载脚本 -->
  {% if config.extra.ads_enabled %}
  <script src="{{ 'assets/javascripts/ads-loader.js' | url }}" defer></script>
  {% endif %}
{% endblock %}

